:root {
    --page-font: Arial, Helvetica, sans-serif;
    --primary-color: #000;
    --standar-margin: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--page-font);
    color: var(--primary-color);
}

header,
main,
body {
    width: 840px;
    margin: 0 auto;

}

h1,
h2 {
    font-family: var(--page-font);
    color: var(--primary-color)
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    place-items: center;
    max-width: 800px;
    text-align: center;
}

header img {
    grid-column: 1/2;
    margin: auto;
    width: auto;
    height: auto;

}

header nav {
    grid-column: 2/3;
    display: flex;
    background-color: #ddd;
    border-radius: 5px;
    padding: 20px;
    text-decoration: none;
    font-size: 1.2rem;

}

header nav a {
    margin: 0 16px;
    padding: 10px;
    font-size: 1.2rem;
    text-decoration: none;
}

header nav a:hover {
    color: var(--primary-color);
    transition: 1 ease;
}

nav,
p,
section,
article {
    margin: var(--standar-margin);
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
    background-color: #fff;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: #fff
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    top: 80px;
    width: 100%;
    height: auto;
    margin: 30px auto;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--primary-color);
    color: #fff;

}

.hero article img {
    margin: 10px;
    float: right;
    width: 200px;
    height: auto;
    border-radius: 2px;
}

.hero article p {
    font-size: 1.2rem;
    text-align: left;
}

.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    margin: 16px auto;
    background-color: #ddd;
    font-size: 1.2rem;
}

.container1 h2 {
    grid-column: 1/4;
    margin: 0 auto;
}

.container1 img {
    grid-column: 2/3;
    width: 200px;
    height: auto;
    margin: 0 var(--standar-margin);

}

.container1 p {
    margin: 0 var(--standar-margin);
}

.image {
    margin: var(--standar-margin);
    width: 125px;
    height: auto;
    border-radius: 3px;
}

.container2 h2 {
    text-align: center;
    grid-column: 1/7;
}

.container2 figcaption {
    align-self: center;
}

.container2 {

    max-width: 840px;
    margin: 16px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    text-align: center;

}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    text-align: center;
}

footer p {
    text-align: center;
    grid-column: 2/3;
}

.socialmedia {
    grid-column: 3/4;
}